.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.promo {
    position: relative;
    padding-top: 22.6rem;
    background: linear-gradient(rgba(26, 25, 21, 0.3) 100%, rgba(26, 25, 21, 0.3) 100%), url(../../images/baner-image-mobile.jpg) center/cover no-repeat;
}

.navigation {
    padding-top: 2rem;
}

.registration {
    display: flex;
    justify-content: center;
}

.registration li {
    margin-bottom: 12rem;
}

.registration button {
    border-color: transparent;
}

.registration li:hover button {
    border-color: var(--main-color);
}

h1 a {
    font-size: 2rem;
    line-height: 2.4rem;
    text-transform: uppercase;
}

.promo-description h2 {
    font-size: 3rem;
    line-height: 3.6rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.promo-description p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 2rem;
}

.promo-description a {
    margin-bottom: 14rem;
}

@media (min-width: 768px) {
    
    .registration li {
        margin-bottom: 0;
    }

    .promo {
        background: linear-gradient(rgba(26, 25, 21, 0.3) 100%, rgba(26, 25, 21, 0.3) 100%), url(../../images/baner-image-tablet.jpg) center/cover no-repeat;
    }

    .navigation {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        padding: 3.8rem;
    }

    h1 {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .promo-description h2 {
        font-size: 5.2rem;
        line-height: 6.2rem;
        margin-bottom: 3.6rem;
    }

    .promo-description p {
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin-bottom: 3.8rem;
    }

    .section-link {
        padding: 1.4rem 2rem;
    }
}

@media (min-width: 992px) {
    
    .promo {
        background: linear-gradient(rgba(26, 25, 21, 0.3) 100%, rgba(26, 25, 21, 0.3) 100%), url(../../images/baner-image.jpg) center/cover no-repeat;
    }
}