@import url(https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400&display=swap);

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
button,
p {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    font-size: 0;
}

.navigation ul {
    text-align: center;
}

.navigation li {
    display: inline-block;
    font-size: 14px;
    margin-top: 72px;
    margin-bottom: 100px;
}

.navigation li:not(:last-child) {
    margin-right: 100px;
}

.navigation a {
    text-decoration-line: none;
    text-transform: uppercase;
    color: inherit;
}

.navigation a:hover {
    color: #03a9f4;
}

.state {
    display: inline-block;
    width: 420px;
    font-size: 14px;
    margin-bottom: 130px;
}

.state:nth-last-child(-n+2) {
    margin-bottom: 55px;
}

.state:not(:nth-child(2n)) {
    margin-right: 60px;
}

.state-category {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #b4ad9e;
    text-transform: uppercase;
    margin: 30px 0;
}

.state-head {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 36px;
}

.load-more {
    display: block;
    margin: 0 auto;
    padding: 22px 34px;
    border: 1px solid #989898;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 75px;
}