.partners {
    padding: 6.8rem 0 5.8rem;
}

.partners h2 {
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
}

.partners-item-li {
    width: 22rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.partner-image {
    border-radius: 50%;
}

.partner-foto {
    position: relative;
    width: 12rem;
    height: 12.2rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.partner-foto-icon {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border: 0.4rem solid var(--main-color);
    border-radius: 50%;
    bottom: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
}

.partner-1 {
    background-color: #ff4e50;
    background-image: url(../../icons/partner-1-icon.png);
}

.partner-2 {
    background-color: #ffa507;
    background-image: url(../../icons/partner-2-icon.png);
}

.partner-3 {
    background-color: #1cd7ad;
    background-image: url(../../icons/partner-3-icon.png);
}

.partner-4 {
    background-color: #4e73db;
    background-image: url(../../icons/partner-4-icon.png);
}

figcaption h3 {
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

figcaption p {
    font-size: 1.4rem;
    line-height: 1.7rem;
}

@media (min-width: 48rem) {
   
    .container {
        width: 49rem;
    }

    .partners {
        padding-bottom: 4rem;
    }

    .partners h2 {
        margin-bottom: 4rem;
    }

    .partners-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .order-two {
        order: 2;
    }

    .order-three {
        order: 1;
    }

    .order-four {
        order: 3;
    }

    .partners-item-li {
        margin-bottom: 4rem;
    }
}

@media (min-width: 58.7rem) {
    
    .container {
        width: 94rem;
    }

    .partners {
        padding: 7.2rem 0;
    }
}